@charset "UTF-8";

@media screen and (min-width: 992px){
    
    body{
        background-image: linear-gradient(to top,#B1CADA,#9BBDCF,#85AABD,black);
    }

    section#login{
        width:990px
    }

    section#login > div#imagem{
        float: left;
        width:40%;
        height:100%;
    }
    
    section#login > div#formulario{
        float: right;
        width:57%;
    }
}