@charset "UTF-8";

@media screen and (min-width:768px) and (max-width:992px) {

    body{
        background-image: linear-gradient(to top,#B1CADA,#9BBDCF,#85AABD,black);
    }

    section#login{
        width: 80vw;
    }

    section#login > div#imagem{
        float: left;
        width:29%;
        height:100%;
    }

    section#login > div#formulario{
        float:right;
        width:67%;
    }

    div#formulario > p {
        font-size: 1.0em;
    }

    div.campo > label{
        display: inline;
    }

    form > div.campo {
        height:90px;
    }

    div.campo > input{
        height: 30px;
        width:calc(100% - 100px);
        margin:7px;
        border-radius:8px;
    }
}